<div class=" content">
  <div class=" row">
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Local New Deaths</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-bell-55 text-danger-states"> </i> {{dataLocalNewDeaths}}
          </h3>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Local Total Deaths</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-bell-55 text-danger-states"> </i> {{dataLocalTotalDeaths}}
          </h3>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Global Total Deaths</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-bell-55 text-danger-states"> </i> {{dataGlobalTotalDeaths}}
          </h3>
        </div>
      </div>
    </div>
  </div>

  <div class=" row">
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Local New Cases</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-bell-55 text-danger-states"> </i> {{dataLocalNew}}
          </h3>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Local Total Cases</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-single-02 text-info"> </i> {{dataLocalTotal}}
          </h3>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Local Recovered</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-heart-2 text-success"> </i> {{dataLocalRec}}
          </h3>
        </div>
      </div>
    </div>
  </div>

  <div class=" row">
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Global New Cases</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-bell-55 text-danger-states"> </i> {{dataGlobalNew}}
          </h3>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Global Total Cases</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-single-02 text-info"> </i> {{dataGlobalTotal}}
          </h3>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Global Recovered</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-heart-2 text-success"> </i> {{dataGlobalRec}}
          </h3>
        </div>
      </div>
    </div>
  </div>

  <div class=" row">
    <div class=" col-lg-12 col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Count of individuals currently on treatment/observation</h4>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <th>Name of the Hospital</th>
                  <th>Local Count</th>
                  <th>Foreign Count</th>
                  <th class=" text-center">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let hospital of hospitals">
                  <td>{{hospital.hospital.name}} ({{hospital.hospital.name_si}})</td>
                  <td>{{hospital.treatment_local}}</td>
                  <td>{{hospital.treatment_foreign}}</td>
                  <td class=" text-center">{{hospital.treatment_total}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
