
<div class=" content">
  <div class=" row">
    <div class=" col-md-4">
      <div class=" card card-user">
        <div class=" card-body">
          <p class=" card-text"></p>
          <div class=" author">
            <div class=" block block-one"></div>
            <div class=" block block-two"></div>
            <div class=" block block-three"></div>
            <div class=" block block-four"></div>
            <a href="javascript:void(0)">
              <img alt="..." class=" avatar" src="assets/img/nishan.jpg" />

              <h5 class=" title">Nishan Chathuranga Wickramarathna</h5>
            </a>
            <p class=" description">Software Engineer</p>
          </div>
          <div class=" card-description">
            I started my career as an intern back in 2018. I ended up in this career by a happy mistake, but now I'm loving it. I like to write and talk about anything, but mostly I like to explain things that I find difficult, for which I don't see a good explanation. So I try to dig into it, understand the inside out of the process and tell it to other people who are struggling like me. That is the greatest joy I get by doing this.
          </div>
        </div>
        <div class=" card-footer">
          <div class=" button-container">
            <a href="https://www.linkedin.com/in/nishanchathuranga/">
              <button
              class=" btn btn-icon btn-round btn-facebook"
              href="#"
              >
              <i class="fab fa-linkedin-in"></i>
              </button>
            </a>
            <a href="https://twitter.com/Nishan_CW">
              <button
              class=" btn btn-icon btn-round btn-twitter"
              href="#"
              >
                <i class=" fab fa-twitter"> </i>
              </button>
            </a>
            <a href="https://stackoverflow.com/users/5260872/nishan-chathuranga?tab=topactivity">
              <button
              class=" btn btn-icon btn-round btn-google"
              href="#"
              >
              <i class="fab fa-stack-overflow"></i>
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
